{
	"globals": {
		"BigInt": true
	},
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"node": true,
		"jest/globals": true
	},
	"extends": [
		"eslint:recommended",
		"eslint-config-prettier",
		"plugin:react/recommended"
	],
	"plugins": ["jest", "react-hooks"],
	"rules": {
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn"
	}
}
